@{
    ViewBag.Title = "Dashboard";
}


<div class="row">
    <div class="col-md-3">
        <div class="card text-white bg-primary mb-3">
            <div class="card-header">Users</div>
            <div class="card-body">
                <h5 class="card-title">1,245</h5>
                <p class="card-text">Total registered users.</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card text-white bg-success mb-3">
            <div class="card-header">Products</div>
            <div class="card-body">
                <h5 class="card-title">320</h5>
                <p class="card-text">Available products.</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card text-white bg-warning mb-3">
            <div class="card-header">Orders</div>
            <div class="card-body">
                <h5 class="card-title">150</h5>
                <p class="card-text">Pending orders today.</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card text-white bg-danger mb-3">
            <div class="card-header">Revenue</div>
            <div class="card-body">
                <h5 class="card-title">$18,430</h5>
                <p class="card-text">Total sales this month.</p>
            </div>
        </div>
    </div>
</div>

<div class="mt-4">
    <h4>Recent Activity</h4>
    <ul class="list-group">
        <li class="list-group-item">User "JohnDoe" registered.</li>
        <li class="list-group-item">Product "Wireless Mouse" added.</li>
        <li class="list-group-item">Order #1234 completed.</li>
    </ul>
</div>