@model CSMF.WebMvc.Models.Users.PasswordResetViewModel
@{
    ViewData["Title"] = "Change Password";
}

<div class="container d-flex ">
    <div class="card shadow-sm w-100" style="max-width: 600px;">
        <div class="card-body">

            @if (!Html.ViewData.ModelState.IsValid)
            {
                @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
            }

            <form asp-action="ChangePassword" method="post">
                <!-- Hidden ID -->
                <input type="hidden" asp-for="Id" />
                <div class="row g-3 mb-2">
                    <div class="col-md-6">
                        <label asp-for="Password" class="form-label"></label>
                        <input asp-for="Password" type="password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="ConfirmPassword" class="form-label"></label>
                        <input asp-for="ConfirmPassword" type="password" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>

                <div class="d-grid gap-2 d-md-flex justify-content-between">
                    <button type="submit" class="btn btn-success">
                        <i class="bi bi-save"></i> Save Changes
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
